<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout01}">

<div layout:fragment="content">
    <div id="content" class="site-content">
        <div id="primary" class="content-area column two-thirds">
            <main id="main" class="site-main" role="main">
                <article>
                    <header class="entry-header">
                        <h1 class="entry-title" th:text="${BlogPost.postTitle}"></h1>
                        <div class="entry-meta">
                            <span class="posted-on"><time class="entry-date published" th:text="${BlogPost.updateTime}"></time></span>
                        </div>
                    </header>
                    <!-- .entry-header -->
                    <div class="entry-content">
                        <p th:utext="${BlogPost.postText}"></p>
                    </div>
                    <!-- .entry-content -->
                    <footer class="entry-footer">
				<span class="cat-links" th:if="${loginId} == ${BlogPost.member.id}">
				<button>게시글 삭제</button>
				<a th:href="@{/blog/blogModify/{pnum}(pnum = ${BlogPost.pnum})}">게시글 수정</a>
				</span>
                    </footer>
                    <!-- .entry-footer -->
                </article>
                <!-- #post-## -->
                <!-- .navigation -->
            </main>
            <!-- #main -->
        </div>
        <div id="secondary" class="column third">
            <div id="sidebar-1" class="widget-area" role="complementary">
                <aside id="text-5" class="widget widget_text">
                    <h4 class="widget-title">About Me</h4>
                    <div class="textwidget">
                        <p></p>
                    </div>
                </aside>
                <aside id="recent-posts-2" class="widget widget_recent_entries">
                    <h4 class="widget-title">게시글 목록</h4>
                    <ul>
                        <li th:each="Post : ${postList.getContent()}">
                            <a th:href="@{/blog/blogView/{bnum}/{pnum}(bnum = ${Post.blogList.bnum}, pnum = ${Post.pnum})}" th:text="${Post.postTitle}"></a>
                        </li>
                    </ul>
                </aside>
                <aside id="recent-comments-2" class="widget widget_recent_comments">
                    <h4 class="widget-title">Recent Comments</h4>
                    <ul id="recentcomments">
                        <li class="recentcomments"><span>ThemePush</span> on <a href="blog-single.html">Male T-Shirt</a></li>
                        <li class="recentcomments"><span>ThemePush</span> on <a href="blog-single.html">Male T-Shirt</a></li>
                        <li class="recentcomments"><span><a href="#" rel="external nofollow" class="url">Mr WordPress</a></span> on <a href="blog-single.html">Thanks for watching!</a></li>
                        <li class="recentcomments"><span>Maria</span> on <a href="blog-single.html">Gray Blouse</a></li>
                        <li class="recentcomments"><span>Maria</span> on <a href="blog-single.html">Retro Dress</a></li>
                    </ul>
                </aside>
            </div>
            <!-- .widget-area -->
        </div>
        <!-- #secondary -->
    </div>

</div>
</html>