<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout01}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<div layout:fragment="content">
    <div id="content" class="site-content">
        <div id="primary" class="content-area column two-thirds">
            <main id="main" class="site-main" role="main">
                <div class="grid bloggrid">

                    <article th:each="Blog : ${memberBlog.getContent()}">
                        <header class="entry-header">
                            <h1 class="entry-title"><a th:href="@{/blog/blogView/{bnum}/{pnum}(bnum = ${Blog.blogList.bnum}, pnum = ${Blog.pnum})}"
                                                       rel="bookmark" th:text="${Blog.postTitle}"></a></h1>
                            <div class="entry-meta">
                                <span class="posted-on"><time class="entry-date published"
                                                              th:text="${Blog.category}"></time></span>
                                <span class="comments-link"><a
                                        th:text="${Blog.blogBrdList.brdRead == T(com.portfolio.blog.constant.Authority).PERMISSION ? '(게시글)공개': Blog.blogBrdList.brdRead == T(com.portfolio.blog.constant.Authority).GROUP ?  '(게시글)친구만' : '(게시글)비공개'}"></a></span>
                                <span class="comments-link"><a
                                        th:text="${Blog.blogBrdList.brdWrite == T(com.portfolio.blog.constant.Authority).PERMISSION ? '(댓글)가능' : Blog.blogBrdList.brdWrite == T(com.portfolio.blog.constant.Authority).GROUP ? '(댓글)친구만' : '(댓글)불가'}"></a></span>
                            </div>
                        </header>
                        <div class="entry-summary">
                            <p th:utext="${Blog.postText}">
                            </p>
                        </div>
                    </article>
                </div>
                <div class="clearfix">
                </div>
                <nav class="pagination"></nav>
            </main>
            <!-- #main -->
            <!-- #primary -->
        </div>
        <div id="secondary" class="column third">
            <div id="sidebar-1" class="widget-area" role="complementary">
                <aside id="text-5" class="widget widget_text">
                    <h4 class="widget-title">총 방문자 수</h4>
                    <div class="textwidget">
                        <p th:text="${totalVisitCnt}"></p>
                        <h4 class="widget-title">오늘 방문자 수</h4>
                        <p th:text="${todayTotalVisitCnt}"></p>
                        <h4 class="widget-title">친구신청 목록</h4>
                        <div th:if="${requestMember != null}" th:each="member : ${requestMember}">
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                [[${member.nickName}]]
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">친구요청</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            [[${member.nickName}]] 님에게 친구요청이 왔습니다.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary refuse"
                                                    th:value="${member.id}" data-bs-dismiss="modal">거절
                                            </button>
                                            <button type="button" class="btn btn-outline-secondary accept"
                                                    th:value="${member.id}">수락
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <aside id="recent-posts-2" class="widget widget_recent_entries">
                    <h4 class="widget-title">게시글 목록</h4>
                    <ul>
                        <li th:each="Blog : ${memberBlog.getContent()}">
                            <a th:href="@{/blog/blogView/{bnum}/{pnum}(bnum = ${Blog.blogList.bnum}, pnum = ${Blog.pnum})}"
                               th:text="${Blog.postTitle}"></a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>

    <div th:with="start=${(memberBlog.number/maxPage)*maxPage + 1}, end=(${(memberBlog.totalPages == 0) ? 1 : (start + (maxPage - 1) < memberBlog.totalPages ? start + (maxPage - 1) : memberBlog.totalPages)})">
        <ul class="pagination justify-content-center">
            <li th:classappend="${memberBlog.first}?' disabled'">
                <a class="Previous page-numbers" th:href="@{/blog/blogMain/{page}/{bnum}/(page = ${memberBlog.number - 1}, bnum = ${bnum})}">Previous</a>
            </li>
            <li th:each="page: ${#numbers.sequence(start, end)}">
                <a class="page-numbers" th:classappend="${memberBlog.number eq page-1}?'current':''"
                   th:href="@{/blog/blogMain/{page}/{bnum}(page = ${page - 1}, bnum = ${bnum})}" th:inline="text">[[${page}]]</a>
            </li>
            <li th:classappend="${memberBlog.last}?' disabled'">
                <a class="next page-numbers" th:classappend="${memberBlog.last}?' disabled'"
                   th:href="@{/blog/blogMain/{page}/{bnum}(page = ${memberBlog.number + 1}, bnum = ${bnum})}" aria-label='Next'>Next</a>
            </li>
        </ul>
    </div>
</div>
<script layout:fragment="script">
   $(function() {

   $('.accept').click(function() {
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    let friendId = $(this).val()
    let data = {friendId : friendId}
    $.ajax({
                      type : 'put',
                      url : '/blog/friendAccept',
                      data :  JSON.stringify(data),
                      dataType: 'text',
                      contentType : "application/json",
                      beforeSend : function(xhr){
                        xhr.setRequestHeader(header, token)
                      },
                      success : function(response) {
                          console.log('성공')
                          alert(''+response);
                          location.reload();
                      },//success
                      error: function(response) {
                          console.log('실패')
                          alert(''+response.responseText);
                      }//error

                  })//ajax
                  })
   $('.refuse').click(function() {
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    let friendId = $(this).val()
    let data = {friendId : friendId}
    $.ajax({
                      type : 'delete',
                      url : '/blog/friendRefuse',
                      data :  JSON.stringify(data),
                      dataType: 'text',
                      contentType : "application/json",
                      beforeSend : function(xhr){
                        xhr.setRequestHeader(header, token)
                      },
                      success : function(response) {
                          console.log('성공')
                          alert(''+response);
                          location.reload();
                      },//success
                      error: function(response) {
                          console.log('실패')
                          alert(''+response.responseText);
                      }//error

                  })//ajax
})
    })
</script>
</html>