<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout01}">

<div layout:fragment="content">


    <div id="content" class="site-content">
      <div id="primary" class="content-area column two-thirds">
        <main id="main" class="site-main" role="main">
          <div class="grid bloggrid">

            <article>
              <header class="entry-header">
                <h1 class="entry-title"><a href="blog-single.html" rel="bookmark">게시글 제목</a></h1>
                <div class="entry-meta">
                  <span class="posted-on"><time class="entry-date published">간단한줄 정리</time></span>
                  <span class="comments-link"><a href="#">부제목정도</a></span>
                </div>
              </header>
              <div class="entry-summary">
                <p>
                 여기가 게시물본문
                </p>
              </div>
            </article>
          </div>
          <div class="clearfix">
          </div>
          <nav class="pagination"></nav>
        </main>
        <!-- #main -->
      </div>
      <!-- #primary -->

      <div id="secondary" class="column third">
        <div id="sidebar-1" class="widget-area" role="complementary">
          <aside id="recent-posts-2" class="widget widget_recent_entries">
            <h4 class="widget-title">Recent Posts</h4>
            <ul>
              <li>
                <a href="blog-single.html">Somewhere in time</a>
              </li>
              <li>
                <a href="blog-single.html">Thanks for watching!</a>
              </li>
              <li>
                <a href="blog-single.html/">Who could have thought?</a>
              </li>
              <li>
                <a href="blog-single.html">Text Alignement</a>
              </li>
              <li>
                <a href="blog-single.html">HTML Tags and Formatting</a>
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>


</div>

</html>