<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout01}">

<div layout:fragment="content">


    <div id="content" class="site-content">
      <div id="primary" class="content-area column two-thirds">
        <main id="main" class="site-main" role="main">
          <div class="grid bloggrid">

            <article th:each="Blog : ${memberBlog.getContent()}">
              <header class="entry-header">
                <h1 class="entry-title"><a th:href="@{/blog/blogView/{bnum}(bnum = ${Blog.blogList.bnum})}" rel="bookmark" th:text="${Blog.postTitle}"></a></h1>
                <div class="entry-meta">
                  <span class="posted-on"><time class="entry-date published" th:text="${Blog.category}"></time></span>
                  <span class="comments-link"><a th:text="${Blog.blogBrdList.brdRead == T(com.portfolio.blog.constant.Authority).PERMISSION ? '(게시글)공개': Blog.blogBrdList.brdRead == T(com.portfolio.blog.constant.Authority).GROUP ?  '(게시글)친구만' : '(게시글)비공개'}"></a></span>
                  <span class="comments-link"><a th:text="${Blog.blogBrdList.brdWrite == T(com.portfolio.blog.constant.Authority).PERMISSION ? '(댓글)가능' : Blog.blogBrdList.brdWrite == T(com.portfolio.blog.constant.Authority).GROUP ? '(댓글)친구만' : '(댓글)불가'}"></a></span>
                </div>
              </header>
              <div class="entry-summary">
                <p th:utext="${Blog.postText}">
                </p>
              </div>
            </article>
          </div>
          <div class="clearfix">
          </div>
          <nav class="pagination"></nav>
        </main>
        <!-- #main -->
      <!-- #primary -->
    </div>
      <div id="secondary" class="column third">
        <div id="sidebar-1" class="widget-area" role="complementary">
          <aside id="recent-posts-2" class="widget widget_recent_entries">
            <h4 class="widget-title">게시글 목록</h4>
            <ul>
              <li th:each="Blog : ${memberBlog.getContent()}">
                <a th:href="@{/blog/blogView/{bnum}(bnum = ${Blog.blogList.bnum})}" th:text="${Blog.postTitle}"></a>
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>

        <div th:with="start=${(memberBlog.number/maxPage)*maxPage + 1}, end=(${(memberBlog.totalPages == 0) ? 1 : (start + (maxPage - 1) < memberBlog.totalPages ? start + (maxPage - 1) : memberBlog.totalPages)})">
          <ul class="pagination justify-content-center">
            <li th:classappend="${memberBlog.first}?' disabled'">
              <a class="Previous page-numbers" th:href="@{/blog/blogMain/{page}(page = ${memberBlog.number - 1})}">Previous</a>
            </li>
            <li th:each="page: ${#numbers.sequence(start, end)}">
              <a class="page-numbers" th:classappend="${memberBlog.number eq page-1}?'current':''" th:href="@{/blog/blogMain/{page}(page = ${page - 1})}" th:inline="text">[[${page}]]</a>
            </li>
            <li th:classappend="${memberBlog.last}?' disabled'">
              <a class="next page-numbers" th:classappend="${memberBlog.last}?' disabled'" th:href="@{/blog/blogMain/{page}(page = ${memberBlog.number + 1})}" aria-label='Next' >Next</a>
            </li>
          </ul>
        </div>
      </div>



</html>