<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/layout01}">

<script layout:fragment="script">
 tinymce.init({
      language: "ko_KR",
      selector: 'textarea',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
      image_title: true,
      automatic_uploads: true,
      paste_data_images: true,
      file_picker_types: 'image',
      file_picker_callback: function (cb, value, meta) {
      var input = document.createElement('input');
      input.setAttribute('type', 'file');
      input.setAttribute('name', 'img');
      input.setAttribute('accept', 'image/*');
       input.onchange = function () {
      var file = this.files[0];

      var reader = new FileReader();
      reader.onload = function () {
        /*
          Note: Now we need to register the blob in TinyMCEs image blob
          registry. In the next release this part hopefully won't be
          necessary, as we are looking to handle it internally.
        */
        var id = 'blobid' + (new Date()).getTime();
        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
        var base64 = reader.result.split(',')[1];
        var blobInfo = blobCache.create(id, file, base64);
        blobCache.add(blobInfo);

        /* call the callback and populate the Title field with the file name */
        cb(blobInfo.blobUri(), { title: file.name });
      };
      reader.readAsDataURL(file);
    };

    input.click();
  },
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
});
</script>

<style layout:fragment="css">
       .myBtn{
        width : 80px;
        height : 25px;
        margin : auto;
        display:block;
      }

</style>


<div layout:fragment="content">
    <section class="page-section mt-5" id="contact">
        <div class="container">
            <h2>게시글 생성</h2>
            <form th:action="@{/blog/postCreate}" method="post" enctype="multipart/form-data"
                  th:object="${blogPostDTO}">
                <input type="hidden" th:value="${session.memberDTO.id}" name="member">
                <div class="form-group mb-3">
                    <label th:for="category">게시글 분류</label>
                    <select th:field="*{category}" class="form-select form-select-lg" id="category">
                        <option value="POLITICS">정치</option>
                        <option value="ECONOMY">경제</option>
                        <option value="SOCIET">사회</option>
                        <option value="LIFE">생활</option>
                        <option value="CULTURE">문화</option>
                        <option value="SCIENCE">과학</option>
                        <option value="WORLD">세계</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label th:for="brdRead">읽기 권한</label>
                    <select th:field="${blogBrdListDTO.brdRead}" class="form-select form-select-lg">
                        <option value="PERMISSION">전체공개</option>
                        <option value="GROUP">친구공개</option>
                        <option value="UNLICENSED">비공개</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label th:for="brdWrite">쓰기 권한</label>
                    <select th:field="${blogBrdListDTO.brdWrite}" class="form-select form-select-lg">
                        <option value="PERMISSION">전체공개</option>
                        <option value="GROUP">친구공개</option>
                        <option value="UNLICENSED">비공개</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label th:for="postTitle">게시글 제목</label>
                    <input type="text" th:field="*{postTitle}" class="form-control">
                </div>

                <div class="form-group mb-3">
                    <label th:for="postText">게시글 본문</label>
                    <textarea th:field="*{postText}" class="form-control" id="postText"
                              style="height: 100px"></textarea>
                </div>
                <button type="submit" class="btn btn-secondary mb-3 myBtn"/>게시글저장</button>
                <input type="hidden" th:value="${session.memberDTO.id}" name="member">
                <input type="hidden" th:field="${blogBrdListDTO.cnum}" name="blogBrdList">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>

        </div>
    </section>
</div>

</html>