<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout01}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<div layout:fragment="content">
    <div id="content" class="site-content">
        <div id="primary" class="content-area column full">
            <h2>친구블로그 목록</h2>
            <main id="main" class="site-main">
                <div class="grid portfoliogrid"  th:if="${friendInfo != 'nothing'}">
                    <article class="hentry" th:each="Blog, BlogStat : ${memberBlog.getContent()}">
                            <header class="entry-header" >
                            <h2 class="entry-title"><a th:href="@{/blog/blogMain/0/{bnum}(bnum = ${friendInfo[BlogStat.index].bnum})}" rel="bookmark" th:text="${friendInfo[BlogStat.index].blogName}">블로그 이름</a></h2>
                            <a  th:href="@{/blog/blogMain/0/{bnum}(bnum = ${friendInfo[BlogStat.index].bnum})}" th:text="${friendInfo[BlogStat.index].blogDetail}">블로그 설명</a>
                            <a  th:href="@{/blog/blogMain/0/{bnum}(bnum = ${friendInfo[BlogStat.index].bnum})}" th:text="${friendInfo[BlogStat.index].member.nickName}">닉네임</a>
                            <a href="@{/blog/blogMain/0/{bnum}(bnum = ${friendInfo[BlogStat.index].bnum})}"
                               th:text="${friendInfo[BlogStat.index].blogAuthority== T(com.portfolio.blog.constant.Authority).PERMISSION ? '공개': friendInfo[BlogStat.index].blogAuthority == T(com.portfolio.blog.constant.Authority).GROUP ?  '친구만' : '비공개'}"></a>
                            <input type="hidden" th:value="${BlogStat.index}" name="friendId" th:attrappend="id=${BlogStat.index}">
                            <input type="hidden" th:value="${Blog.fnum}" name="fnum">
                            </header>
                            <span class="cat-links">
                            <button class='portfoliotype delete' data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop" th:value="${BlogStat.index}">친구삭제</button>
				            </span>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">친구삭제</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" class="indexVal">
                                            친구삭제하시겠습니까?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary del"
                                                    name="friendDelete">삭제
                                            </button>
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">취소
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </article>
                </div>

                <div th:with="start=${(memberBlog.number/maxPage)*maxPage + 1}, end=(${(memberBlog.totalPages == 0) ? 1 : (start + (maxPage - 1) < memberBlog.totalPages ? start + (maxPage - 1) : memberBlog.totalPages)})">
                    <ul class="pagination justify-content-center">
                        <li>
                            <a class="Previous page-numbers" th:classappend="${memberBlog.first}?'d-none'" th:href="@{/blog/friendBlogList/{page}(page = ${memberBlog.number - 1})}">Previous</a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(start, end)}">
                            <a class="page-numbers" th:classappend="${memberBlog.number eq page-1}?'current':''" th:href="@{/blog/friendBlogList/{page}(page = ${page - 1})}" th:inline="text">[[${page}]]</a>
                        </li>
                        <li>
                            <a class="next page-numbers" th:classappend="${memberBlog.last}?'d-none'" th:href="@{/blog/friendBlogList/{page}(page = ${memberBlog.number + 1})}" aria-label='Next' >Next</a>
                        </li>
                    </ul>
                </div>
                <br/>
            </main>
        </div>

        <form th:action="@{'/friendBlogList/' + ${memberBlog.number}}" role="form" method="post" th:object="${memberBlog}">
            <div class="form-inline justify-content-center d-flex w-75 m-auto" th:object="${blogSearchDTO}">
                <div class="col-md-2">
                    <select th:field="*{searchDateType}" class="form-control w-100 form-select-lg" style="width:auto;">
                        <option value="all">전체기간</option>
                        <option value="1d">1일</option>
                        <option value="1w">1주</option>
                        <option value="1m">1개월</option>
                        <option value="6m">6개월</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select th:field="*{searchBy}" class="form-control w-100 form-select-lg" style="width:auto;">
                        <option value="blogName">블로그 이름</option>
                        <option value="blogDetail">블로그 설명</option>
                    </select>
                </div>
                <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
                <div class="col-md-1">
                    <button id="searchBtn" type="submit" class="btn btn-secondary current w-100">검색</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">
$(document).ready(function(){

       var index = 0

       $("#searchBtn").on("click",function(e) {
            e.preventDefault();
            page(0);
       });


       $('.delete').click(function(){
            index = $(this).val();
            console.log(index);
            $('.indexVal').val(index);
       })

       $('button[name=friendDelete]').click(function() {
              var index1 = index;
              console.log(index1);

               let fnum = $('input[name=fnum]').eq(index1).val();
               var friend = {fnum : fnum}
               console.log(friend);
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                $.ajax({
                      type : 'delete',
                      url : '/blog/friendDelete',
                      data :  JSON.stringify(friend),
                      dataType: 'text',
                      contentType : "application/json",
                      beforeSend : function(xhr){
                        xhr.setRequestHeader(header, token)
                      },
                      success : function(response, status) {
                          alert(''+response);
                          location.reload();
                      },//success
                      error: function(response, status) {
                              console.log(response,status);
                              alert(''+response.responseText);
                      }//error

                  })//ajax
        })


});

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var blogAuthority = $("#blogAuthority").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/friendBlogList/" + page + "?searchDateType=" + searchDateType
            + "&blogAuthority=" + blogAuthority
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
        }
</script>
</html>
