<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout01}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<div layout:fragment="content">
    <div id="content" class="site-content">
        <div id="primary" class="content-area column full">
            <main id="main" class="site-main">
                <div class="grid portfoliogrid">
                    <article class="hentry" th:each="Blog : ${memberBlog.getContent()}">
                        <header class="entry-header">
                            <h2 class="entry-title"><a href="#" th:classappend='${Blog.bnum}' rel="bookmark"
                                                       th:text="${Blog.blogName}"></a></h2>
                            <a th:classappend="${Blog.bnum}" href="#" th:text="${Blog.blogDetail}"></a>
                            <a th:classappend="${Blog.bnum}" href="#" th:text="${Blog.member.nickName}"></a>
                            <a th:classappend="${Blog.bnum}" href="#"
                               th:text="${Blog.blogAuthority== T(com.portfolio.blog.constant.Authority).PERMISSION ? '공개': Blog.blogAuthority == T(com.portfolio.blog.constant.Authority).GROUP ?  '친구만' : '비공개'}"></a>
                        </header>
                        <span class="cat-links"  th:if="${friendList.contains(Blog.member.id)}">
                                <button name="friendDelete" th:value="${Blog.member.id}">친구삭제</button>
                            </span>
                        <span class="cat-links" th:unless="${friendList.contains(Blog.member.id)}">
                                <button name="friendAdd" th:value="${Blog.member.id}">친구추가</button>
                            </span>
                    </article>
                </div>
                <!-- .grid -->

                <div th:with="start=${(memberBlog.number/maxPage)*maxPage + 1}, end=(${(memberBlog.totalPages == 0) ? 1 : (start + (maxPage - 1) < memberBlog.totalPages ? start + (maxPage - 1) : memberBlog.totalPages)})">
                    <ul class="pagination justify-content-center">
                        <li>
                            <a class="Previous page-numbers" th:classappend="${memberBlog.first}?'disabled'"
                               th:href="@{/blog/memberBlogList/{page}(page = ${memberBlog.number - 1})}">Previous</a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(start, end)}">
                            <a class="page-numbers" th:classappend="${memberBlog.number eq page-1}?'current':''"
                               th:href="@{/blog/memberBlogList/{page}(page = ${page - 1})}"
                               th:inline="text">[[${page}]]</a>
                        </li>
                        <li>
                            <a class="next page-numbers" th:classappend="${memberBlog.last}?'disabled'"
                               th:href="@{/blog/memberBlogList/{page}(page = ${memberBlog.number + 1})}"
                               aria-label='Next'>Next</a>
                        </li>
                    </ul>
                </div>
                <br/>
            </main>
        </div>
        <form th:action="@{/blog/memberBlogList/{page}(page = ${memberBlog.number})}" role="form" method="post"
              th:object="${memberBlog}">
            <div class="form-inline justify-content-center" th:object="${blogSearchDTO}">
                <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                    <option value="all">전체기간</option>
                    <option value="1d">1일</option>
                    <option value="1w">1주</option>
                    <option value="1m">1개월</option>
                    <option value="6m">6개월</option>
                </select>
                <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                    <option value="blogName">블로그 이름</option>
                    <option value="blogDetail">블로그 설명</option>
                </select>
                <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
                <button id="searchBtn" type="submit" class="btn btn-current current">검색</button>
            </div>
        </form>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>
<!-- #content -->
<script layout:fragment="script">
   $(function() {

   $('article a').click(function(e) {
      e.preventDefault();
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var path = $(this).attr('class')
        console.log(path)
        let data = {bnum : path}
       $.ajax({
                      type : 'post',
                      url : '/blog/blogVisitRequest',
                      data :  JSON.stringify(data),
                      contentType : "application/json",
                      beforeSend : function(xhr){
                        xhr.setRequestHeader(header, token)
                      },
                      success : function(response) {
                          console.log('성공')
                          $(location).attr('href', '/blog/blogMain/0/'+path);
                      },//success
                      error: function() {
                      }//error

                  })//ajax
   })
   $('button[name=friendAdd]').click(function() {
       let friendId = $(this).val();
       console.log(friendId)
       var id = {friendId : friendId}
       console.log(id)

       var token = $("meta[name='_csrf']").attr("content");
       var header = $("meta[name='_csrf_header']").attr("content");
                  $.ajax({
                      type : 'post',
                      url : '/blog/friendRequest',
                      data :  JSON.stringify(id),
                      dataType: 'text',
                      contentType : "application/json",
                      beforeSend : function(xhr){
                        xhr.setRequestHeader(header, token)
                      },
                      success : function(response, status) {
                          console.log('성공')
                          alert(''+response)
                          location.reload();
                      },//success
                      error: function(response, status) {
                              console.log(response,status);
                              alert(''+response.responseText);
                              location.reload();
                      }//error

                  })//ajax
  })
  $('button[name=friendDelete]').click(function() {
  let friendId = $(this).val();
       console.log(friendId)
       var id = {friendId : friendId}
       console.log(id)

       var token = $("meta[name='_csrf']").attr("content");
       var header = $("meta[name='_csrf_header']").attr("content");
                  $.ajax({
                      type : 'delete',
                      url : '/blog/friendDelete',
                      data :  JSON.stringify(id),
                      dataType: 'text',
                      contentType : "application/json",
                      beforeSend : function(xhr){
                        xhr.setRequestHeader(header, token)
                      },
                      success : function(response, status) {
                          console.log('성공')
                          alert(''+response)
                          location.reload();
                      },//success
                      error: function(response, status) {
                              console.log(response,status);
                              alert(''+response.responseText);
                              location.reload();
                      }//error

                  })//ajax
                  })
})

</script>
</html>