<!DOCTYPE html>
<html  lang="ko"
       xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">

    <div class="container">
        <header id="masthead" class="site-header">
            <div class="site-branding">
                <h1 class="site-title"><a href="index.html" rel="home">Blog</a></h1>
                <h2 class="site-description">TeamProject_Blog</h2>
            </div>
            <nav id="site-navigation" class="main-navigation">
                <button class="menu-toggle">Menu</button>
                <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
                <div class="menu-menu-1-container">
                    <ul id="menu-menu-1" class="menu">
                        <li><a href="/blog/blogMain" sec:authorize="permitAll()">블로그</a></li>
                        <li><a href="about.html" sec:authorize="isAuthenticated()">블로그 수정</a></li>
                        <li><a href="shop.html" sec:authorize="isAuthenticated()">게시글 작성</a></li>
                        <li><a href="blog.html" sec:authorize="isAuthenticated()">친구목록</a></li>
                        <li><a href="/login/loginMain" sec:authorize="isAnonymous()">로그인</a></li>
                        <li><a href="/login/logout" sec:authorize="isAuthenticated()">로그아웃</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>

</div>

</html>